@using GymApp.ViewModels
@model DeleteMealViewModel

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row">
            <h2 class="text-primary">
                Delete @Model.MealName
            </h2>
            <hr />
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Product Name
                    </th>
                    <th>
                        kcal
                    </th>
                    <th>
                        protein
                    </th>
                    <th>
                        carbs
                    </th>
                    <th>
                        fat
                    </th>
                    <th>
                        grams
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.products)
                {
                    <tr>
                        <td>@product.ProductName</td>
                        <td>@product.kcal</td>
                        <td>@product.protein</td>
                        <td>@product.carbs</td>
                        <td>@product.fat</td>
                        <td>@product.grams</td>
                        <td></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Total</th>
                    <td>
                        @Model.mealSummary.TotalKcal
                    </td>
                    <td>
                        @Model.mealSummary.TotalProtein
                    </td>
                    <td>
                        @Model.mealSummary.TotalCarbs
                    </td>
                    <td>
                        @Model.mealSummary.TotalFat
                    </td>
                    <td>
                        @Model.mealSummary.TotalGrams
                    </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>



        <button type="submit" class="btn btn-danger" style="width:150px" >Delete</button>
        <a asp-controller="Meal" asp-action="Index" class="btn btn-primary">Back to the list</a>
    </div>
</form>