@using GymApp.ViewModels
@model MealViewModel

<style>
    .icon-size {
        font-size: 20px;
        margin-right: 10px;
    }
</style>
<div class=" container">
    <div class="row">
        <div class="col">
            <h1 class="text-primary">
                Meals
            </h1>
        </div>
        <div class="row text-end">
            <a asp-controller="Meal" asp-action="Create" class="btn btn-primary">
                Add New Meal
            </a>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Product Name
                    </th>
                    <th>
                        kcal
                    </th>
                    <th>
                        protein
                    </th>
                    <th>
                        carbs
                    </th>
                    <th>
                        fat
                    </th>
                    <th>
                        grams
                    </th>
                    <th>
                        date
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var obj in Model.Meals)
                {
                    <tr>
                        <td>
                            @obj.MealName
                        </td>
                        <td>
                            @obj.kcal
                        </td>
                        <td>
                            @obj.protein
                        </td>
                        <td>
                            @obj.carbs
                        </td>
                        <td>
                            @obj.fat
                        </td>
                        <td>
                            @obj.grams
                        </td>
                        <td>
                            @obj.date
                        </td>
                        <td class="text-nowrap" style="width:4%">
                            <a asp-controller="Meal" asp-action="Edit" asp-route-MealId="@obj.MealId" class="icon-link">
                                <i class="bi bi-pencil-square icon-size"></i>
                            </a>
                            <a asp-controller="Meal" asp-action="Delete" asp-route-MealId="@obj.MealId" class="icon-link">
                                <i class="bi bi-trash3-fill icon-size"></i>
                            </a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>