@model List<Product>

<div class=" container">
    <div class="row"
        <div class="col">
            <h1 class="text-primary">
                Products
            </h1>
        </div>
        <div class="row text-end">
            <a asp-controller="Product" asp-action="Create" class="btn btn-primary size" >
                Add New Product
            </a>
        </div>
    </div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Product Id
            </th>
            <th>
                Product Name
            </th>
            <th>
                kcal
            </th>
            <th>
                protein
            </th>
            <th>
                carbs
            </th>
            <th>
                fat
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var obj in Model.OrderBy(u => u.ProductId))
        {
            <tr>
                <td>
                    @obj.ProductId
                </td>
                <td>
                    @obj.ProductName
                </td>
                <td>
                    @obj.kcal
                </td>
                <td>
                    @obj.protein
                </td>
                <td>
                    @obj.carbs
                </td>
                <td>
                    @obj.fat
                </td>
            </tr>
        }
    </tbody>
</table>
</div>